<div class="about">
    <header>
        ABOUT ME
    </header>
    <article>
        <p>
            Hey! My name is Wojciech "Senti" Warwas,
            <br class="mobile" />
            I'm 21 years old.
            <br class="mobile" />
            I currently study Computer Engineering at the
            <a href="https://pwr.edu.pl/en/">Wrocław University of Science and Technology</a>.
            <br class="mobile" />
            In my free time I like to do all sorts of things.
        </p>
        <img src="https://i.imgur.com/YbU4sYT.png" alt="A picture of me" />
    </article>
</div>