@page "/"

<div class="parent">
    <div id="welcome" class="child">
        <Welcome />
    </div>
    <div id="about " class="child">
        <About />
    </div>
    <div id="interests" class="child">
        <Interests />
    </div>
    <div id="projects" class="child">
        <Projects />
    </div>
    <div id="abilities" class="child">
        <Abilities />
    </div>
    <div id="technologies" class="child">
        <Technologies />
    </div>
</div>