<div class="interests">
    <header>
        INTERESTS
    </header>
    <br />
    <article>
        <ul>
            <li>
                Board games,
            </li>
            <li>
                Video games,
            </li>
            <li>
                Bass guitars,
            </li>
            <li>
                Hiking,
            </li>
            <li>
                Cycling,
            </li>
            <li>
                Cooking,
            </li>
            <li>
                Programming,
            </li>
            <li>
                Software engineering
            </li>
        </ul>
        <br />
        <p>
            I love doing many different things, I also like trying new things even if they seem scary at first.
            It's pretty obvious I like programming and software/web development considering this is a portfolio dedicated to showing off those skills.
            I love to learn new things, anything from learning how to use some framework to learning how to fix air conditioning in my car.
        </p>
        <br class="mobile"/>
        <p>
            Some other text, placeholder for now.
        </p>
    </article>
</div>