<div class="interests">
    <header>
        INTERESTS
    </header>
    <br />
    <article>
        <ul>
            <li>
                <button class="btn btn-dark" @onclick="GetBoardGamesMessage">
                    Board games
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetVideoGamesMessage">
                    Video games
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetBassGuitarMessage">
                    Bass guitar
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetHikingMessage">
                    Hiking
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetCyclingMessage">
                    Cycling
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetCookingMessage">
                    Cooking
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetProgrammingMessage">
                    Programming
                </button>
            </li>
            <li>
                <button class="btn btn-dark" @onclick="GetSoftwareEngineeringMessage">
                    Software engineering
                </button>
            </li>
        </ul>
        <br />
        <p>
            @((MarkupString)Message)
        </p>
    </article>
</div>

@code {
    private string Message { get; set; } = "Click on any of my hobbies to find out more about them";

    private void GetBoardGamesMessage()
    {
        // <button class='btn btn-dark' onclick='alert(\"TEST\")'>X</button>
        Message = "Message 1";
    }

    private void GetVideoGamesMessage()
    {
        Message = "Message 2";
    }

    private void GetBassGuitarMessage()
    {
        Message = "Message 3";
    }

    private void GetHikingMessage()
    {
        Message = "Message 4";
    }
    
    private void GetCyclingMessage()
    {
        Message = "Message 5";
    }
    
    private void GetCookingMessage()
    {
        Message = "Message 6";
    }

    private void GetProgrammingMessage()
    {
        Message = "Message 7";
    }
    
    private void GetSoftwareEngineeringMessage()
    {
        Message = "Message 8";
    }
}