<div class="welcome">
    <!-- Zero width space WARWAS||.DEV -->
    <header class="pulse">
        WARWAS​.COM
    </header>
    <ul>
        <li>
            <a href="https://github.com/SentiWW">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/wojciech-warwas-7729b7214/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://www.hackerrank.com/wojciech_warwas1">
                <i class="fa-brands fa-hackerrank"></i>
            </a>
        </li>
    </ul>
    <small>
        <p class="pulse">
            future software engineer,
            <br class="mobile" />
            engineering student
        </p>
        <p class="pulse">
            competent computer engineering student who loves to make things
        </p>
    </small>
</div>